.chartcontainer {
}

.chartcontainer .chartannotations {
    height: 25px;
    overflow: visible !important;
    z-index: 10 !important
}

/*
 * Our annotation chart is small and we have large tooltips so we will let them overflow
 */

.chartannotations svg {
    overflow: visible !important;
}

.highcharts-container {
    overflow: visible !important;
}

.chartannotations .highcharts-container {
    z-index: 10 !important;
}